pgAdmin3.aps
Debug/*
x64/Debug_(3.0)/*
Release/*
Debug_(3.0)/*
x64/Release_(3.0)/*.sbr
x64/Release_(3.0)/*.log
x64/Release_(3.0)/*.sbr
x64/Release_(3.0)/*.obj
x64/Release_(3.0)/*.tlog
x64/Release_(3.0)/*.res
x64/Release_(3.0)/*.sbr
x64/Release_(3.0)/*.ilk
x64/Release_(3.0)/*.txt
x64/Release_(3.0)/svg
*.sbr
*.obj
*.cod
*.tlog
*.7z
*.bsc
*.pdb
include/svnversion.h
ctl/ctlMonitorWidget.cpp
include/ctl/ctlMonitorWidget.h
build/*
