Debug/*
Debug_(3.0)/*
*.sbr
*.obj
*.cod
*.tlog
*.7z
*.bsc
Release/pgAdmin3.Build.CppClean.log
Release/pgAdmin3.ilk
Release/pgAdmin3.log
Release/pgAdmin3.map
Release/pgAdmin3.pch
Release/pgAdmin3.pdb
Release/pgAdmin3.res
Release/vc110.pdb
Release/Win32/libssh2/vc110.pdb
Release/x64/libssh2/vc110.pdb
Release/pgAdmin3.lastbuildstate
Release/hist.log
Release/1.sql
Release/1.xml
Release/33.xml
Release_(3.0)/pgAdmin3.Build.CppClean.log
Release_(3.0)/pgAdmin3.ilk
Release_(3.0)/pgAdmin3.log
Release_(3.0)/pgAdmin3.map
Release_(3.0)/pgAdmin3.pch
Release_(3.0)/pgAdmin3.pdb
Release_(3.0)/pgAdmin3.res
Release_(3.0)/vc110.pdb
Release_(3.0)/Win32/libssh2/vc110.pdb
Release_(3.0)/x64/libssh2/vc110.pdb
Release_(3.0)/pgAdmin3.lastbuildstate
Release_(3.0)/hist.log
Release_(3.0)/pgAdmin3.exe.*
Release_(3.0)/*.pdb
Release_(3.0)/*.rc
*.pdb
