<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="Text Compare! is an online diff tool that can find the difference between two text documents. Just paste and compare.">

    <title>Compare object DateBase </title>

<body style="zoom: 1;">

        &nbsp;


@Diff_EditCost=4
@Match_Threshold=0.1
@Match_Distance=300


    	<style type="text/css">
body {
	/*font-family: monospace;*/
	width : 100%;
	text-align:center;
	background: white;
	padding: 0;
	margin: 0;
}
div.logo {
	background-repeat: repeat;
	/*background-position: top;*/
	height: 30px;
	/*overflow: hidden;*/
    background-color: #5CA96D;
    background-image: linear-gradient(90deg, #4E905D, #6BC57F);
}
div.logocompare {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:1px 1px grey;
    padding-top: 10px;
} 
.logost {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:1px 1px grey;
    padding-top: 5px;
} 

div.logoheader {
	background-repeat: repeat;
	/*background-position: top;*/
	height: 40px;
	/*overflow: hidden;*/
    background-color: #4488C7;
    background-image: linear-gradient(90deg, #0B70CD, #5C90C0);
}

.logo_background {
 /*   background-image:url('tiny_grid-transparent.png'); */
    width: 100%;
    height: 100%;
}


div.logo, div.mainContent, .addThisFooter, div.logocompare {
	text-align:center;
	/*width: 95%;*/
	margin-left: auto;
  	margin-right: auto;
}

.addThisFooter {
    margin-bottom: 150px;
}

.logotext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #f9f9f9;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:1px 1px grey;
    padding-top: 5px;
} 



table {
	font-size: 12px;
}
 
div.mainContent {
 	background: #eee;
 	/*background-image:url('tc-bgtop-bottom.png'); */
	background-repeat: repeat-x; 
	background-position: top;
	/*border-bottom: 2px white solid;*/
	margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.lineContent {
	width: 49%;
}


.lineContent pre {
    /* Undoing bootstrap CSS for PRE tags */
    padding: 0;
    margin: 0;
    background-color: white;
    border: 0;
    border-radius: 0;
    line-height: normal;
    padding-left: 2px;
    padding-right: 2px;

    /* Make sure really long strings are wrapped.  */
    background: white;
    margin: 0;
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap;
}


.text-compare {
	font-size: 12px;
}


img {
	border: none;
}

.navImage {
	border:0px;
	padding-left:5px;
	padding-right:5px;
	margin:0px;
}

.delimiter {
	heigth:40px;
	display: inline-block;
}
label {
	font-size: 14px;
    font-weight: normal !important;
    margin-bottom: 0px !important;
}

           h2 { font-size: 130%; padding-bottom: 0.5ex; color: #009ACE; border-bottom-style: solid; border-bottom-width: 2px; }
           h3 { font-size: 110%; padding-bottom: 0.5ex; color: #000000; }

		.text-compare {
		    border: 1px solid #ababab;
		    background: white;
            line-height: normal;
		}
		.text-compare, div.sendEmail {
			width: 98%;
			margin-left: auto;
		    margin-right: auto;
		}
		tbody {
			border: none;
		}
        .text-compare td {font-family: monospace;}
		colgroup {border-color: #ababab;}
		.link_first {
			background-image:url('tc-arrow-down-green.png');
			background-position: top;
			background-repeat: no-repeat;
		}
		.link_next {
			background-image:url('tc-arrow-down-blue.png');
			background-position: top;
			background-repeat: no-repeat;	
		}
		.link_top {
			background-image:url('tc-arrow-up-orange.png');
			background-position: top;
			background-repeat: no-repeat;	
		}
		.link_top, .link_next, .link_first {
			height: 12px;
			width: 11px;
		}
		.link_section {
			height: 18px;
		}
		.text-section {
			font-size: 15px;
		}

		.diff_next {
		  width: 11px;
		 }
		.text_next, .text_first, .text_top {visibility: hidden;} 
		td {
			padding-left: 2px;
			padding-right: 2px;
		}
		.diff_header {	width: 1em;}
		.difference {
			width: 1em;
			background: #A9D0F5;
		}
		.differencei {
			width: 1em;
			background: Gold;
		}
		.differenced {
			width: 1em;
			background: #A9D0F5;
		}
		.has_difference { 
			background: #97D397;
			width: 1em;
		}
		.diff_header, .diff_next {
			vertical-align:top;
			background: #dedede;
		}
		.diff_next {padding-top:2px;}
		.diff_remove {background: Pink;}
		.diff_insert {background: SkyBlue;}
		.diff_eq {background: #eeeeee;}
		.diff_eqhidden {display: none;}
		.diff_ne {background: LightGreen;}
		.lineContent {
			vertical-align:top;
			text-align:left;
		} 
	</style>
			
    <div class="mainContent">

$titleline$

@titleline     <h2 id="group-list" style="text-align: left;">$titleline$</h2>
$list$
@[list     <ul type="square" style="text-align: left;">
@rowlist      <li id="_@idtablecmp@" class="diff_@color@"><a href="#@idtablecmp@"> $rowlist$ </a></li>
@]list     </ul>

@tableheader@
    <div class="logoheader">
        <div class="logo_background">
            <a id="@idtablecmp@" href="#_@idtablecmp@" class="logotext">$rowlist$</a>
        </div>
    </div>
@tableheader@

@tableheader2     <table class="text-compare" id="t@idtablecmp@" cellspacing="0" cellpadding="0" rules="groups">        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>        <tbody>


$tables$

    </div>


        



</body></html>
